@use "./colors.scss" as *;


#bioDiv {
  margin-bottom: 50px;
  // width: 50%;
  // min-width: 200px;
}

// #bioTop {
//   background-color: black;
// }

#heading {
  // background-color: blue;
  // display: flex;
  // flex-direction: column;
  // justify-content: start;
}

#name, .highlights {
  color: $pro2orange;
  // background-color: purple;
}

#undername {
  color: rgba($color: white, $alpha: 0.75);
  font-size: 30px;
  // background-color: orange;
}

#portrait {
  // width: 300px;
  height: 300px;
  // transform: ;
  // box-shadow: 1px 1px 1px red;
  // filter: drop-shadow(1px 1px 1px $pro2blue);
  // filter: drop-shadow(1px 1px 1px red);
  border-radius: 50%;
  
}

.popout {
  filter: drop-shadow(1px 1px 1px $pro2blue);
  // filter: drop-shadow(1px 1px 1px red);

}


.highlightButtons {

  color: $pro3white;
  display: flex;
  flex-direction: row;
  align-items: center;
  // justify-content: space-between;
  font-size: 20px;
  

  svg {
    margin-right: 8px;
  }

  
  &:hover {
    border-color: $pro2orange;
    // color: rgba($color: $pro2orange, $alpha: 0.1);
  }
}



#descriptionDiv {
  display: flex;

  #description {
    display: flex;
    flex-direction: row;

    // #me {
    //   // background-color: $grey;
    //   padding: 10px 50px;

    //   p{
    //     text-align: left;
    //   }
    // }
  }
}


#linkDiv {

  display: flex;
  flex-direction: column;
  // justify-content: center;
  justify-content: start;
  align-items: center;

  #gitLogo {
    padding: 5px;
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 6px;
  }

  svg {
    color: white;
    // width: 30px;
    // height: 30px;

    &:hover {
      // color: orangered;
      color: $pro2orange;
      cursor: pointer;
    }
  }
}



#bioButtonDiv {
  // background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: start;
  // justify-content: center;
  // align-items: start;

  button {

    
    svg {
      // background-color: black;
      margin-right: 12px;
    }
    
    
    margin-right: 20px;
    // color: orangered;
    // font-size: 20px;
    // width: 200px;
    // display: flex;
    // flex-direction: row;
    // align-items: center;
  }
}