@use "./colors.scss" as *;

#descriptionDiv {
  display: flex;

  #description {
    display: flex;
    flex-direction: row;
  }
}


#linkDiv {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  svg {
    color: white;
    // width: 30px;
    // height: 30px;

    &:hover {
      // color: orangered;
      color: $pro2orange;
      cursor: pointer;
    }
  }
}



#bioButtonDiv {
  // background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: center;

  b {
    svg {
      // background-color: black;
      margin-right: 12px;
    }


    // color: orangered;
    font-size: 20px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}