
// Profile 1
$black: #212121;
$grey: #323232;
$bluedark: #0D7377;
$bluelight: #14FFEC;


// Profile 2
$pro2blue: #082032;
$pro2greyblue: #2C394B;
$progrey: #334756;
$pro2orange: #FF4C29;
// $pro2orangered: orangered;