#portfolioDiv {
  background-color: black;
}

#explore {
  // text-transform: uppercase;
  font-size: 26px;
  // background-color: orangered;
  
}


.logoPreview {
  // filter: drop-shadow(-5px 10px 5px white);
  width: 300px;
  border: 2px solid rgba(255, 255, 255, 0);

  &:hover {
    cursor: pointer;
    border-color: white;
  }
}


#selectedProjectTop {
  display: flex;
  flex-direction: row;
}


#selectedProjectBottom {
  background-color: white;
  color: black;
  
  h1 {
    padding: 5px 0px;
  }
}